body{
    background-image: url('../img/bg.jpg');
    background-size: cover;
}

.navbar-menu a:hover{
    color:	#8b635c;
}

.navbar-brand a:hover{
    color:	#8b635c;
}

.navbar-link:not(.is-arrowless)::after{
    border-color:#8b635c;
}

.has-text-brown{
    color:#8b635c !important;
}

.has-text-shadow-brown{
    text-shadow:
    -1px -1px 0 #8b635c,  
     1px -1px 0 #8b635c,
     -1px 1px 0 #8b635c,
      1px 1px 0 #8b635c;
}

.has-no-bg{
    background-color: #fefefe00 !important;
    color:white !important;
    border-color: #fefefe00 !important;
}

.is-hcentered{
    justify-content: center !important;
}

.has-padding-5{
    padding:5px;
}


table.is-borderless td {
    border: 0 !important;
  }

.floating-box{
    position: absolute !important;
    justify-content: center !important;
    text-align: center;
    top:20%;
    left:10%;
    max-width: 380px;
    background-color: #fefefed5;
}

.responsive-map{
    overflow: hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.responsive-map iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

@media screen and (max-width: 600px) {
    .floating-box{
        display: none !important;
    }

}

